<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454897328455-mjv2eattn5dmr1r8sa9mav9a3ft5o2bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454897328455-mjv2eattn5dmr1r8sa9mav9a3ft5o2bc</string>
	<key>API_KEY</key>
	<string>AIzaSyDhmL8DsEisZgIcRCzvgy_bX3S1lOByN5A</string>
	<key>GCM_SENDER_ID</key>
	<string>454897328455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wito.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wito-3a8da</string>
	<key>STORAGE_BUCKET</key>
	<string>wito-3a8da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454897328455:ios:7bf548644052d251f0ec62</string>
</dict>
</plist>